
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.page {
  width: 60vw;
  margin: 0 auto;
  color: #2c3e50;
}

.page h1 {
  margin: 25px;
  font-size: 40px;
  text-align: center;
}

.page h1 span {
  border-bottom: 2px solid #2c3e50;
  margin: 0;
}

.day {
  margin: 50px 0;
}

.day h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.day input {
  width: 100%;
  font-size: 25px;
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid transparent;
  outline: none;
  transition: 0.5s;
}

.day input:focus {
  border-color: #2c3e50;
}